#topmenu
	{
	display:flex;
	flex-direction: row;
	justify-content: center;
	}

#topmenu > div
	{
	position:relative;
	height:23px;
	padding-left:7px;
	padding-left:7px;
	padding-right:7px;
	border:1px solid gray;
	font-size:13pt;
	}

#topmenu > div > div
	{
	position:absolute;
	display:none;
	min-width:170px;
	left:0px;
	top:22px;
	}

#topmenu > div:hover > div
	{
	display:block;
	}

#topmenu > div > div > ul
	{
	margin:0px;
	padding:0px;
	}
#topmenu > div > div > ul > li
	{
	list-style:none;
	color:black;
	background-color:white;
	cursor:pointer;
	padding-top:3px;
	padding-bottom:1px;
	font-size:13pt;
	border:1px solid gray;

	}

#topmenu > div > div > ul > li:hover
	{
	color:white;
	background-color:navy;
	}